<p>Dashboard Component</p>

<p-button styleClass="p-button-outlined" size="small" (click)="getBreeds()" severity="danger">
  <img alt="logo" src="https://www.svgrepo.com/show/530572/accelerate.svg" style="width: 1.5rem"/>
  <span class="ml-2 font-bold">Get Breeds</span>
</p-button>

<p-button styleClass="p-button-outlined" size="small" (click)="authenticate()" severity="danger">
  <img alt="logo" src="https://www.svgrepo.com/show/530572/accelerate.svg" style="width: 1.5rem"/>
  <span class="ml-2 font-bold">Authenticate</span>
</p-button>
